<html>
  <head>
    <link rel="stylesheet" href="css/uikit.min.css">
  </head>
  <body>
    <!--<a href="http://localhost:3000/login">login</a>-->
    <div id="app"/>
    <script id="initial-data" type="text/plain" data-json="{{accounts}}"></script>
    <script type="text/javascript" src="ipc.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3002/browser-sync/browser-sync-client.2.12.5.js'><\/script>".replace("HOST", location.hostname));
//]]></script>
  </body>
</html>